<div class="c-NavContainer" id="nav-container-9cc6478e">
  <button
    title="Toggle Navigation"
    class="c-NavContainer-toggle"
    id="nav-toggle-b9b1766c"
    type="button"
    aria-expanded="false"
    aria-controls="site-nav-1e445c2f"
  >
    <span class="c-NavContainer-icon" aria-hidden="true"></span>
    <span class="u-visuallyHidden">Toggle Navigation</span>
  </button>
  <nav class="c-Nav" id="site-nav-1e445c2f" aria-label="Main Navigation" tabindex="-1">
    <ul class="c-Nav-list">
      <li class="c-Nav-list-item">
        <a
          href="/"
          class='c-Nav-list-link {{- if eq . (.GetPage "/") }} is-current{{ end }}'
        >{{ (.GetPage "/").Title }}</a>
      </li>
      {{ $currentPage := . }}
      {{- range .Site.Sections -}}
        {{- if gt (len .RegularPages) 0 }}
          <li class="c-Nav-section">
            <details open>
              <summary class="c-Nav-section-title">{{ .Name }}</summary>
              <ul class="c-Nav-list">
                {{- range .RegularPages -}}
                  <li class="c-Nav-list-item">
                    <a
                      href="{{ .RelPermalink }}"
                      title="{{ .LinkTitle }}"
                      class="c-Nav-list-link {{- if eq . $currentPage }} is-current{{ end }}"
                    >{{ .Name }}</a>
                  </li>
                {{- end -}}
              </ul>
            </details>
          </li>
        {{- end -}}
      {{- end -}}
    </ul>
  </nav>
</div>
