@use "../abstract/functions" as fns;
@use "../abstract/variables";

.c-Nav {
  position: relative;
  width: var(--nav-width);
  max-width: var(--nav-width);
  max-height: 100%;
  padding-right: fns.rem(20);
  font-size: fns.rem(16);
  line-height: 1.2;
  outline: none;
  overflow: clip auto;
  -webkit-overflow-scrolling: touch;

  @media screen and (width < variables.$nav-media-query-width) {
    --nav-offset: calc(
      (var(--nav-spacing) * 2) + var(--nav-icon-size) +
        (var(--nav-icon-spacing) * 2)
    );

    position: absolute;
    top: var(--nav-offset);
    right: 100%;
    max-height: calc(100% - var(--nav-offset));
    opacity: 0;
    visibility: hidden;
    transition: all var(--nav-transition);

    .c-NavContainer.is-open &,
    .no-js .c-NavContainer:focus-within & {
      transform: translateX(100%);
      opacity: 1;
      visibility: visible;
    }
  }
}

.c-Nav-wrapper {
  position: sticky;
  height: 100%;
  max-height: calc(
    100dvh - env(safe-area-inset-top, 0) - env(safe-area-inset-bottom, 0)
  );
  inset: env(safe-area-inset-top, 0) 0 env(safe-area-inset-bottom, 0) 0;
  padding-top: var(--top-padding);
}

.c-Nav-section {
  margin: calc(var(--nav-spacing) * 1.5) 0;
}

.c-Nav-section-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: fns.rem(14);
  margin-bottom: calc(var(--nav-spacing) / 2);
  cursor: pointer;
}

.c-Nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  .c-Nav-list {
    padding-left: 0;
    margin-bottom: 0;
  }
}

.c-Nav-list-item {
  margin-bottom: calc(var(--nav-spacing) / 3);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.c-Nav-list-link {
  color: var(--nav-link-color);
  text-decoration: none;
  display: block;
  line-height: 1.4;
  text-wrap: balance;

  &.is-current,
  &:hover,
  &:focus-within {
    color: var(--nav-link-color-active);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-position: under;
  }
}

.c-Nav-toggle {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-block: var(--nav-icon-spacing);
  z-index: 10;
  width: var(--nav-icon-size);
  height: calc(var(--nav-icon-size) + (var(--nav-icon-spacing) * 2));
  transition: transform var(--nav-transition);

  .no-js .c-NavContainer:focus-within & {
    pointer-events: none;
  }

  @media screen and (width >= variables.$nav-media-query-width) {
    display: none;
  }
}

.c-Nav-icon {
  --bar-gap: calc((var(--nav-icon-size) / 2 - #{fns.rem(2)}));

  &,
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: var(--nav-icon-size);
    height: fns.rem(2);
    background-color: var(--nav-icon-color);
    border-radius: var(--nav-icon-size);
    transition: transform var(--nav-transition),
      background-color var(--nav-transition);
  }

  &::before {
    transform: translate(-50%, calc(var(--bar-gap) * -1));
  }

  &::after {
    transform: translate(-50%, var(--bar-gap));
  }

  .is-open &,
  .no-js .c-NavContainer:focus-within & {
    background-color: transparent;
  }

  .is-open &::before,
  .no-js .c-NavContainer:focus-within &::before {
    transform: translateX(-50%) rotate(225deg) scale(1.25);
  }

  .is-open &::after,
  .no-js .c-NavContainer:focus-within &::after {
    transform: translateX(-50%) rotate(-225deg) scale(1.25);
  }
}
