.Content {
  min-width: 0;
  width: 100%;
  max-width: var(--content-max-width, 100%);
  background: var(--content-bg);
  box-shadow: var(--content-box-shadow);
  padding: var(--content-padding);
  border-radius: rem(4);
  font-size: var(--content-font-size);
}

.Content p > code {
  background-color: var(--code-bg);
  color: var(--code-color);
  border-radius: rem(5);
  padding: em(4) em(4) em(2) em(4);
  margin-right: em(1);
  font-size: em(14);
}

.Content-title {
  color: var(--content-title-color);
}
