.Content {
  flex: 0 1 auto;
  align-self: start;
  min-width: 0;
  width: 100%;
  max-width: var(--content-max-width, 100%);
  background: var(--content-bg);
  box-shadow: var(--content-box-shadow);
  padding: var(--content-padding);
  margin: var(--content-margin);
  border-radius: rem(4);
  font-size: var(--content-font-size);

  @media screen and (max-width: ($nav-media-query-width - rem(1))) {
    transition: transform var(--nav-transition-props);

    .NavContainer.is-open ~ & {
      transform: translateX(
        calc(
          var(--nav-width) -
            (var(--nav-icon-size) + (var(--nav-icon-spacing) * 2))
        )
      );
    }
  }
}

.Content p > code {
  background-color: var(--code-bg);
  color: var(--code-color);
  border-radius: rem(5);
  padding: em(4) em(4) em(2) em(4);
  margin-right: em(1);
  font-size: em(14);
}

.Content-title {
  color: var(--content-title-color);
}
