.NavContainer {
  position: relative;
  grid-area: nav;
}

.NavContainer-toggle {
  position: sticky;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: var(--nav-icon-spacing);
  z-index: 10;
  width: var(--nav-icon-full-size);
  height: var(--nav-icon-full-size);
  transition: transform var(--nav-transition-props);

  .is-open &,
  .no-js .NavContainer:focus-within & {
    transform: translateX(calc(var(--space) - var(--nav-icon-spacing)));
  }

  .no-js .NavContainer:focus-within & {
    pointer-events: none;
  }

  @media screen and (min-width: $nav-media-query-width) {
    display: none;
  }
}

.NavContainer-icon {
  --bar-gap: calc((var(--nav-icon-size) / 2 - #{rem(2)}));

  &,
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: var(--nav-icon-size);
    height: rem(2);
    background-color: var(--nav-icon-color);
    border-radius: var(--nav-icon-size);
    transition: transform var(--nav-transition-props),
      background-color var(--nav-transition-props);
  }

  &::before {
    transform: translate(-50%, calc(var(--bar-gap) * -1));
  }

  &::after {
    transform: translate(-50%, var(--bar-gap));
  }

  .is-open &,
  .no-js .NavContainer:focus-within & {
    background-color: transparent;
  }

  .is-open &::before,
  .no-js .NavContainer:focus-within &::before {
    transform: translateX(-50%) rotate(225deg) scale(1.25);
  }

  .is-open &::after,
  .no-js .NavContainer:focus-within &::after {
    transform: translateX(-50%) rotate(-225deg) scale(1.25);
  }
}
