.Nav {
  background-color: var(--nav-bg);
  position: relative;
  height: 100%;
  width: var(--nav-width);
  max-width: var(--nav-width);
  padding-right: var(--space);
  font-size: rem(16);
  line-height: 1.2;
  outline: none;

  @media screen and (max-width: ($nav-media-query-width - rem(1))) {
    position: absolute;
    top: var(--nav-icon-full-size);
    right: 100%;
    max-height: calc(100% - var(--nav-icon-full-size));
    padding-top: var(--space);
    opacity: 0;
    transition: transform var(--nav-transition-props),
      opacity var(--nav-transition-props);

    .NavContainer.is-open &,
    .no-js .NavContainer:focus-within & {
      transform: translateX(100%);
      opacity: 1;
    }
  }
}

.Nav-section {
  margin: calc(var(--space) * 1.5) 0;
}

.Nav-section-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: rem(14);
  margin-bottom: calc(var(--space) / 2);
}

.Nav-list {
  list-style-type: none;

  .Nav-list {
    padding-left: 0;
    margin-bottom: 0;
  }
}

.Nav-list-item {
  margin-bottom: calc(var(--space) / 3);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.Nav-list-link {
  color: var(--nav-link-color);
  text-decoration: none;
  display: block;

  &.is-current,
  &:hover,
  &:focus {
    color: var(--nav-link-color-active);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-position: under;
  }
}
