.Nav {
  background-color: var(--nav-bg);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--nav-width);
  max-width: var(--nav-width);
  padding-top: calc(var(--nav-icon-full-size) + var(--space));
  padding-right: var(--space);
  font-size: rem(16);
  line-height: 1.2;
  transition: transform var(--nav-transition-props),
    opacity var(--nav-transition-props);
  transform: translateX(-100%);

  .NavContainer.is-open & {
    transform: translateX(0%);
    opacity: 1;
  }

  @media screen and (min-width: $nav-media-query-width) {
    position: relative;
    transition: none;
    transform: none;
    padding-top: 0;
    opacity: 1;
  }
}

.Nav-section {
  margin: calc(var(--space) * 1.5) 0;
}

.Nav-section-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: rem(14);
  margin-bottom: calc(var(--space) / 2);
}

.Nav-list {
  list-style-type: none;

  .Nav-list {
    padding-left: 0;
    margin-bottom: 0;
  }
}

.Nav-list-item {
  margin-bottom: calc(var(--space) / 3);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.Nav-list-link {
  color: var(--nav-link-color);
  text-decoration: none;
  display: block;

  &.is-current,
  &:hover,
  &:focus {
    color: var(--nav-link-color-active);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-position: under;
  }
}
