html {
  // Font
  --font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-monospace: "Roboto Mono", Monaco, Consolas, Andale Mono, Ubuntu Mono,
    monospace;
  --content-font-size: 1rem;
  --line-height: 1.6;
  --code-line-height: 1.4;
  --heading-weight: 300;
  --h1-size: 1.6em;
  --h2-size: 1.4em;
  --h3-size: 1.1em;
  // Sizing
  --space: #{(20 / 16)}rem;
  --li-margin: #{(1.25 * 0.15)}rem;
  --p-margin: var(--space);
  --body-padding: 0;
  --body-min-width: #{(280 / 16)}rem;
  --site-title-size: #{(32 / 16)}rem;
  --main-margin: 0 0 calc(var(--space) * 2) 0;
  --content-max-width: #{(1200 / 16)}rem;
  --content-padding: calc(var(--space) * 0.75);
  --content-margin: 0 0 var(--space) 0;
  // Color
  --bg-color: rgb(244, 244, 244);
  --color: hsl(218, 13%, 11%);
  --link-color: hsl(250, 100%, 65%);
  --link-color-active: hsl(250, 90%, 45%);
  --nav-link-color: var(--link-color);
  --nav-link-color-active: var(--link-color-active);
  --content-bg: #fff;
  --content-box-shadow: 0 0 2px rgba(22, 22, 22, 0.05),
    0 3px 5px rgba(22, 22, 22, 0.025);
  --content-title-color: #000;
  --code-bg: #282a36;
  --code-color: #fff;
  --breadcrumb-color: var(--link-color);
  --breadcrumb-color-active: var(--link-color-active);
  --breadcrumb-separator: "»";
  --last-updated-color: rgba(0, 0, 0, 0.65);
  --tag-color: #fff;
  --tag-bg: var(--link-color);
  --tag-color-active: var(--tag-color);
  --tag-bg-active: var(--link-color-active);
}

@media screen and (prefers-color-scheme: dark) {
  html {
    --bg-color: hsl(231, 15%, 8%);
    --color: #fff;
    --link-color: hsl(250, 100%, 80%);
    --link-color-active: hsl(250, 100%, 70%);
    --breadcrumb-color-active: hsl(250, 100%, 73%);
    --content-bg: hsl(231, 15%, 14%);
    --content-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),
      0 3px 5px rgba(0, 0, 0, 0.1);
    --content-title-color: #fff;
    --last-updated-color: rgba(255, 255, 255, 0.6);
    --tag-color: #000;
  }
}

@media screen and (min-width: #{(480 / 16)}rem) {
  html {
    --h1-size: 2em;
    --h2-size: 1.5em;
    --h3-size: 1.1em;
    --site-title-size: #{(36 / 16)}rem;
  }
}

@media screen and (min-width: #{(680 / 16)}rem) {
  html {
    --header-layout: row;
    --content-padding: calc(var(--space) * 1.5) calc(var(--space) * 1.5)
      calc(var(--space) * 1.5 - var(--space)) calc(var(--space) * 1.5);
  }
}

@media screen and (min-width: #{(768 / 16)}rem) {
  html {
    --h1-size: 2.4em;
    --main-layout: row;
    --main-margin: 0 var(--space) calc(var(--space) * 2) 0;
    --content-margin: 0;
  }
}
