body {
  min-height: 100vh;
  min-width: var(--body-min-width);
  padding: var(--body-padding);
  margin: auto;
  color: var(--color);
  font-family: var(--font);
  font-size: 1rem;
  line-height: var(--line-height);
  overflow-x: hidden;

  display: grid;
  grid-template-areas:
    "header header"
    "nav main";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto minmax(0, 1fr);
}
