button,
input,
textarea,
select {
  font: inherit;
  line-height: inherit;
}

label,
button,
input:where([type="checkbox"]) {
  cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
