button,
input,
textarea,
select {
  font-family: inherit;
}

label,
button,
input[type="checkbox"] {
  cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
