h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--headings-weight);
  color: var(--headings-color, inherit);
  margin-bottom: var(--space);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}
