.highlight {
  line-height: var(--code-line-height);
  margin-bottom: var(--p-margin);
  display: grid;
  grid-template-areas:
    "header"
    "code";
  background-color: var(--code-bg);
  border-radius: rem(5);
}


.highlight::before {
  position: relative;
  z-index: 2; // Prevents drop shadow from showing up over background
  content: "# code";
  grid-area: header;
  align-self: center;
  padding: rem(10);
  padding-right: rem(60); // TODO: magic number
  border-top-left-radius: rem(5);
  border-top-right-radius: rem(5);
  font-weight: bold;
  font-size: 0.95em;
  background-color: var(--code-bg);
}
// Code Block Title
.highlight[data-title]::before {
  content: attr(data-title);
}

.highlight .c-Copy {
  grid-area: header;
}

.chroma {
  grid-area: code;

  border-top: 1px solid var(--code-border-color);
  font-family: var(--font-monospace);
  font-size: em(14);
  padding: calc(var(--space) / 2);
  overflow: auto;
  box-shadow: var(--content-box-shadow);
}
