@use "../abstract/functions" as fns;

.c-Breadcrumbs {
  --_gap: #{fns.rem(5)};
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--_gap) / 2) var(--_gap);
  list-style: none;
  margin-bottom: calc(var(--aml-size) / 2);
  font-size: fns.rem(14);
}

.c-Breadcrumbs-item {
  display: flex;
  gap: inherit;

  &::after {
    content: var(--breadcrumb-separator);
  }

  &:last-of-type {
    &::after {
      content: "";
    }
  }
}

.c-Breadcrumbs-link {
  display: inline-block;
  color: var(--breadcrumb-color);
  text-decoration: none;
  font-weight: 700;

  .c-Breadcrumbs-item:first-of-type > & {
    padding-left: 0;
  }

  &.is-current,
  &:active,
  &:hover {
    color: var(--breadcrumb-color-active);
  }
}
