@use "../abstract/functions" as fns;

.c-Content {
  font-size: var(--content-font-size);
  --headings-color: var(--content-headings-color);

  padding-bottom: var(--aml-size-xl);

  > * + * {
    margin-top: fns.em(20);
  }

  &-title {
    font-size: fns.fluid(24, 48);
  }

  & p > code {
    background-color: var(--clr-secondary-400);
    color: var(--code-inline-color);
    border-radius: fns.rem(5);
    padding: fns.em(4) fns.em(4) fns.em(2) fns.em(4);
    margin-right: fns.em(1);
    font-size: fns.em(14);
    font-weight: 700;
  }

  & :where(h1, h2, h3, h4, h5, h6) {
    &::before {
      content: "> ";
      color: var(--aml-link-color);
      font-weight: bold;
      display: none;
    }

    &:target {
      &,
      & a {
        text-decoration: underline solid fns.rem(2) var(--aml-link-color);
        text-underline-position: under;
      }
    }

    &:target::before {
      display: inline;
    }
  }
}
