@use "../functions" as fns;

.c-Content {
  min-width: 0;
  width: 100%;
  max-width: var(--content-max-width, 100%);
  background: var(--content-bg);
  box-shadow: var(--content-box-shadow);
  padding: var(--content-padding);
  border-radius: fns.rem(4);
  font-size: var(--content-font-size);

  --headings-color: var(--content-headings-color);
}

.c-Content p > code,
.c-Content code.code-inline {
  background-color: var(--code-bg);
  color: var(--code-color);
  border-radius: fns.rem(5);
  padding: fns.em(4) fns.em(4) fns.em(2) fns.em(4);
  margin-right: fns.em(1);
  font-size: fns.em(14);
}

.c-Content :where(h1, h2, h3, h4, h5, h6)::before {
  content: "> ";
  color: var(--link-color);
  font-weight: bold;
  display: none;
}

.c-Content :where(h1, h2, h3, h4, h5, h6):target {
  &,
  & a {
    text-decoration: underline solid fns.rem(2) var(--link-color);
    text-underline-position: under;
  }
}

.c-Content :where(h1, h2, h3, h4, h5, h6):target::before {
  display: inline;
}

.c-Content-title {
  font-size: unquote("max(var(--h1-size), min(calc(0.5em + 4vw), 3rem))");
}
