@use "../functions" as fns;
@use "../vars";

.c-Main {
  grid-area: main;
  margin: var(--main-margin);

  @media screen and (max-width: (vars.$nav-media-query-width - fns.rem(1))) {
    transition: transform var(--nav-transition-props);

    .c-NavContainer.is-open ~ &,
    .no-js .c-NavContainer:focus-within ~ & {
      transform: translateX(
        calc(
          var(--nav-width) -
            (var(--nav-icon-size) + (var(--nav-icon-spacing) * 2))
        )
      );
    }
  }
}
