@use "../abstract/functions" as fns;

.c-Tags-container {
  align-items: center;
  margin-bottom: var(--aml-size);

  > .c-Tags {
    margin-bottom: 0;
  }
}

.c-Tags-container-title {
  font-size: fns.em(12);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: fns.rem(1.5);
}

.c-Tags {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: fns.rem(600);
  padding: 0;
}

.c-Tags--small {
  font-size: fns.rem(14);
}

.c-Tag {
  transition: background-color 100ms ease-out;
  margin-right: fns.em(5);
  margin-bottom: fns.em(5);
  border-radius: 2.5px;
  background-color: var(--tag-bg);
  color: var(--tag-color);
  box-shadow: var(--shadow-primary);
  text-align: center;

  a[href] {
    color: var(--tag-color);
  }
  --link-color-active: var(--tag-color-active);

  &:hover,
  &:focus-within {
    background-color: var(--tag-bg-active);

    a[href] {
      color: var(--tag-color-active);
    }
  }
}

.c-Tag-link {
  text-decoration: none;
  padding: fns.em(2.5) fns.em(7.5);
}
