.c-TOC {
  margin-bottom: var(--aml-size);
}

.c-TOC-title {
  font-weight: bold;
  margin-bottom: calc(var(--aml-size) / 2);
  cursor: pointer;
}

.c-TOC-body {
  padding-left: calc(var(--aml-size) / 2);
}
