{{ define "main" }}
  <article class="c-Content" id="content-434728a4">
    <aside>
      {{- partial "breadcrumbs.html" . -}}
    </aside>
    <header>
      <h1 class="c-Content-title">{{ .Title }}</h1>
    </header>

    {{ .Content }}

    {{- if gt (len .RegularPages) 0 }}
    <ul>
      {{- range .RegularPages -}}
      <li>
        <a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Name }}</a>
        {{- if .Description -}}
        <p>{{ .Description }}</p>
        {{- end -}}
      </li>
      {{- end -}}
    </ul>
    {{- end -}}
  </article>
{{ end }}
