body {
  min-height: 100vh;
  min-width: var(--body-min-width);
  max-width: 100%;
  padding: var(--body-padding);
  margin: auto;
  color: var(--color);
  font-family: var(--font);
  font-size: 1rem;
  line-height: var(--line-height);
  overflow-x: hidden;

  @supports (overflow-x: clip) {
    overflow-x: clip;
  }

  display: grid;
  grid-template-areas: "nav main";
  grid-template-rows: auto max(100%, 1fr);
  grid-template-columns: auto minmax(0, 1fr);

  @supports (min-height: 100dvh) {
    min-height: 100dvh;
  }
}
