<nav class="Nav">
  <ul class='Nav-list'>
    <li class='Nav-list-item'>
      <a href="/" class='Nav-list-link {{- if eq . (.GetPage "/") }} is-current{{end}}'>Welcome</a>
    </li>
  {{ $currentPage := . }}
  {{- range .Site.Sections -}}
    {{- if gt (len .RegularPages) 0 }}
    <li class='Nav-section'>
      <div class="Nav-section-title">{{ .Name }}</div>
      <ul class='Nav-list'>
        {{- range .RegularPages -}}
        <li class='Nav-list-item'>
          <a href="{{ .RelPermalink }}" title="{{ .LinkTitle }}" class="Nav-list-link {{- if eq . $currentPage }} is-current{{ end }}">{{ .Name }}</a>
        </li>
        {{- end -}}
      </ul>
    </li>
    {{- end -}}
  {{- end -}}
  </ul>
</nav>
