---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <header>
    <h1 class="c-Content-Title">{frontmatter.title}</h1>
  </header>
  <slot />
</BaseLayout>
