---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <header class="c-404">
    <p class="c-404-number">404</p>
    <h1 class="c-404-text">Page<br />Not<br />Found</h1>
  </header>
  <slot />
</BaseLayout>

<style is:inline>
  .c-404 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center start;
  }

  .c-404-number {
    font-size: 20cqi;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
  }

  .c-404-text {
    font-size: 5cqi;
    line-height: 1.1;
    font-weight: 300;
    margin: 0;
  }
</style>
